@font-face {
    font-family: kingdom;
    src: url(./assets/font/RINGM___.TTF);
}
/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


a{
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-ubuntu-cond);
  background-color: #080B11;
  overflow-x: hidden;
  background-image: url(./assets/images/background.png);
  background-position: center;
background-repeat: no-repeat;
}

.lock-scroll{
  overflow-y: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Scroll Bar */

::-webkit-scrollbar{width: 0;}

/* ------------------- */
/* Custom Properties   */
/* ------------------- */

:root{
    /*colors*/
    --clr-dark: hsl(0, 0%, 0%);
    --clr-light: rgb(255, 255, 255);
    --clr-accent: rgb(151, 180, 225);
  
    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 1.2rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-Kingdom: kingdom;
    --ff-Enriqueta: 'Enriqueta', serif;
    --ff-Oranienbaum: 'Oranienbaum', serif;
    --ff-Stoke: 'Stoke', serif;

  }
  
  @media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1.2rem;
    }
  }
  
  @media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.2rem;
    }
  }

/*general*/
.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
  }
  
  .container {
    padding-right: clamp(2rem,5vw,20rem);
    max-width: var(--max-width,80rem);
    margin: 0 auto;
  }

  .d-block{
    display: block;
  }

  .line{
    background-image: linear-gradient(to right, white,rgba(0, 0, 0, 0.311), rgba(0, 0, 0, 0));
    height: 3px;
    border: none;
  }
  


/*colors*/

.bg-dark{
    background-color:var(--clr-dark);
  }
  
  .bg-light{
    background-color:var(--clr-light);
  }
  
  .bg-accent{
    background-color:var(--clr-accent);
  }
  
  .txt-dark{
    color:var(--clr-dark);
  }
  
  
  .txt-light{
    color:var(--clr-light);
  }
  
  .txt-accent{
    color:var(--clr-accent);
  }

  /*Typography*/

.ff-kingdom{ font-family: var(--ff-Kingdom);}
.ff-Enriqueta{ font-family: var(--ff-Enriqueta);}
.ff-Oranienbaum{ font-family: var(--ff-Oranienbaum);}
.ff-Stoke{font-size: var(--ff-Stoke);}

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }


.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* navbar */
#menu[data-visible="false"]{
  height: 100%;
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  /* transform: translateX(0); */
  opacity: 1;
  z-index: 5;
  transition: 1000ms ease-in;
}

#menu[data-visible="true"]{
  /* transform: translateX(100%); */
  height: 100%;
  visibility: hidden;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 1000ms ease-in;
  opacity: 0;

}

.menu-toggle[data-visible="false"] {
  display: block;
  position: absolute;
  z-index: 2000;
  top: 1.3rem;
  right: 2.7rem;
  background-color: transparent;
  border: none;
  /* background-image: url(./assets/images/square-regular.svg); */
  background-image: url(./assets/images/xmark-solid.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 3rem;
  aspect-ratio: 1;
  cursor: pointer;
  transition: 1000ms ease-in;
}



.menu-toggle[data-visible="true"]{
  /* background-image: url(./xmark-solid.svg); */
  background-image: url(./assets/images/square-regular.svg);

  display: block;
  position: absolute;
  z-index: 2000;
  top: 1.2rem;
  right: 2.5rem;
  background-color: transparent;
  border: none;
  background-position: center center;
  background-repeat: no-repeat;
  width: 3.5rem;
  aspect-ratio: 1;
  cursor: pointer;
  transition: 1000ms ease-in;
  transform: rotate(45deg);
  animation: spin 10s linear infinite;
} 

@keyframes spin{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(313deg);
  }
}

.menu-toggle2[data-visible="false"] {
  display: block;
  position: absolute; 
  top: 2.5rem;
  right: 2.5rem;
  background-color: transparent;
  border: none;
  /* background-image: url(./assets/images/square-regular.svg); */
  background-image: url(./assets/images/square-regular.svg);
  transform:rotate(45deg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 1.5rem;
  aspect-ratio: 1;
  cursor: pointer;
  z-index: 10;
  opacity: 0.5;
}


.menu-toggle2[data-visible="true"]{
  /* background-image: url(./xmark-solid.svg); */
  background-image: url(./assets/images/square-regular.svg);
  display: block;
  position: absolute;
  top: 2.15rem;
  right: 3.5rem;
  background-color: transparent;
  border: none;
  background-position: center center;
  background-repeat: no-repeat;
  width: 1.5rem;
  aspect-ratio: 1;
  cursor: pointer;
  z-index: 1000;
  transform: rotate(45deg);
  opacity: 0.5;
} 

.menu-text{
  position: absolute;
  top: 2.4rem;
  right: 7rem;
  color: white;
  opacity: 1;
  z-index: 2000;
  font-family: elianto;
  letter-spacing: 0.5em;
  transition: 1000ms ease-in;
}



.menu-item{
  color: white;
  font-size: clamp(3rem,8vw,8rem);

  display: block;
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;

  transition: opacity 400ms ease;

  cursor: pointer;
}

.menu-item a{
  color: white;
}

#menu-items{
  margin-left: clamp(4rem, 20vw, 48rem);

  position: relative;
  z-index: 2;
}

#menu-items:hover > .menu-item{
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover{
  opacity: 1;
}

#menu-background-image{
  height: 100%;
  width: 100%;

  background-image: url(./assets/images/menu.png);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;

  transition: opacity 800ms ease,
              background-size 800ms ease,
              background-position 800ms ease;
}

#menu-items:hover ~ #menu-background-image{
}

.logo{
  /* height: 3rem;
  width: 13rem; */
  max-height:4%;
  max-width:12%;

  min-height: 3em;
  min-width: 13rem;
  margin: 1rem 2rem;
  
}

header{
  display: flex;
  justify-content: space-between;
  position: relative;
}






@keyframes fade-in {
  100% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}


.card{

  width: 23em;
  height: 33em;
  cursor: pointer;

  /* width: 20vw;
  height: 30vw; */

  perspective: 100vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  position: relative;

  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
}

.card:hover::before{
  opacity: 1;
}

.card::before{
background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.1), transparent 40%);

border-radius: inherit;
content: "";
height: 100%;
left: 0px;
opacity: 0;
position: absolute;
transition: opacity 500ms;
top: 0px;
width: 100%;
z-index: 2;

}


.card .face {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2s cubic-bezier(0.13, 1.03, 0.39, 0.98), box-shadow 0.35s cubic-bezier(0.13, 1.03, 0.39, 0.98), border-width 0.35s cubic-bezier(0.13, 1.03, 0.39, 0.98);
  box-shadow: 0px 1.2vw 4vw -1vw rgba(255, 255, 255, 0.336);
  background-position: center;
  background-size: 23em;
  background-repeat: no-repeat;
  border: 1px solid rgba(255, 255, 255, 0.642);
  border-radius: 1.1vw;

  border-radius: 1.1vw;

}

.fool{
  background-image: url(./assets/Cardsfront/fool.webp);
}

.magician{
  background-image: url(./assets/Cardsfront/magician.webp);
}

.priestess{
  background-image: url(./assets/Cardsfront/priestess.webp);
}

.empress{
  background-image: url(./assets/Cardsfront/empress.webp);
}

.emperor{
  background-image: url(./assets/Cardsfront/emperor.webp);
}

.hierophant{
  background-image: url(./assets/Cardsfront/Hierophant.webp);
}

.lovers{
  background-image: url(./assets/Cardsfront/lovers.webp);
}

.chariot{
  background-image: url(./assets/Cardsfront/chariot.webp);
}

.strength{
  background-image: url(./assets/Cardsfront/strength.webp);
}

.hermit{
  background-image: url(./assets/Cardsfront/hermit.webp);
}

.wheel{
  background-image: url(./assets/Cardsfront/wheeloffortune.webp);
}

.justice{
  background-image: url(./assets/Cardsfront/justice.webp);
}

.hangedman{
  background-image: url(./assets/Cardsfront/hangedman.webp);
}

.death{
  background-image: url(./assets/Cardsfront/death.webp);
}

.temperance{
  background-image: url(./assets/Cardsfront/temperence.webp);
}

.devil{
  background-image: url(./assets/Cardsfront/devil.webp);
}

.tower{
  background-image: url(./assets/Cardsfront/tower.webp);
}

.star{
  background-image: url(./assets/Cardsfront/star.webp);
}

.moon{
  background-image: url(./assets/Cardsfront/moon.webp);
}

.sun{
  background-image: url(./assets/Cardsfront/sun.webp);
}

.judgement{
  background-image: url(./assets/Cardsfront/judgement.webp);
}

.world{
  background-image: url(./assets/Cardsfront/world.webp);
}




.card .back {
  transform: rotateY(180deg);
  background-position: center;
}

.fool-back{
  background-image: url(./assets/cardsback/foolback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.magician-back{
  background-image: url(./assets/cardsback/magicianback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.priestess-back{
  background-image: url(./assets/cardsback/priestessback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.empress-back{
  background-image: url(./assets/cardsback/empressback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.emperor-back{
  background-image: url(./assets/cardsback/emperorback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.hierophant-back{
  background-image: url(./assets/cardsback/hierophanback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.lovers-back{
  background-image: url(./assets/cardsback/loversback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.chariot-back{
  background-image: url(./assets/cardsback/chariotback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.strength-back{
  background-image: url(./assets/cardsback/strengthback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.hermit-back{
  background-image: url(./assets/cardsback/hermitback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.wheel-back{
  background-image: url(./assets/cardsback/wheeloffortuneback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.justice-back{
  background-image: url(./assets/cardsback/justiceback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.hangedman-back{
  background-image: url(./assets/cardsback/hangedmanback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.death-back{
  background-image: url(./assets/cardsback/deathback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.temperance-back{
  background-image: url(./assets/cardsback/temperanceback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.devil-back{
  background-image: url(./assets/cardsback/devilback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.tower-back{
  background-image: url(./assets/cardsback/towerback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.star-back{
  background-image: url(./assets/cardsback/starback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.moon-back{
  background-image: url(./assets/cardsback/moonback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.sun-back{
  background-image: url(./assets/cardsback/sunback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.judgement-back{
  background-image: url(./assets/cardsback/judgementback.webp);
  transform: rotateY(180deg);
  background-position: center;
}

.world-back{
  background-image: url(./assets/cardsback/worldback.webp);
  transform: rotateY(180deg);
  background-position: center;
}


.card.flipped .front {
  transform: rotateY(180deg);
}
.card.flipped .back {
  transform: rotateY(360deg);
  
}

.card:hover {
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #00000044;
  border-radius: 1.1vw;
}

.effect{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  border-radius: 1.1vw;
  
  /* background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f); */
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


footer{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline:2em;
  height:3em;
  width: 100%;
  background-color: rgba(0, 0, 0,.7);
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
}

.copywrite p{
  font-size: clamp(10px,2vw,1em);
}

.footer-socials a{
  padding-inline:0.5em ;
}



/*-------------------------------Wiki Pages----------------------*/


.wiki-pages{

  height: 80vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-inline: clamp(2em,4vw,5em);
}

.card-section{
  width: 30%;
  position: fixed;
  display: flex;
  justify-content: center;
  left: 2%;
}

.card-info{
  margin-top: 10em;
  width: 60%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 50rem) {
  .menu-text{
    visibility: hidden;
  }
}

@media (max-width: 65rem) {
  .wiki-pages{
    flex-direction: column;
    height: 100%;
    padding-inline: 2em;
  }

  @media (max-width: 29.0625em){
    footer{
      visibility: hidden;
    }
    }

  .card-section{
    position: static;
    width: 100%;
    height: 50%;
    margin-top: 3em;
  }

  .card-info{
    overflow-x: auto;
    overflow-y: auto;
    margin-top: 5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
  }


  .card-meaning{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

}


.card-title{
  transform: translateY(10%);
  opacity: 0;
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
} 

.content{
  margin-top: 6em;
  max-width: 100ch;
  min-width: 30ch;
  padding-bottom: 5em;
}

.content span{
  display: block;
  padding-top: 1em;
  opacity: 0;
  transform: translateY(10%);
}

blockquote{
  font-style: italic;
  opacity: 85%;
}

.content p{
  max-width: 70ch;
  min-width: 20ch;
}

.content span:nth-child(1) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
} 
.content span:nth-child(2) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.content span:nth-child(3) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.content span:nth-child(4) {
  animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
} 


.content span:nth-of-type(1) p:nth-of-type(1):first-letter{
  font-size: 5em;
  line-height: 0;
}



